{
  "env": {
    // node.js에서 document API의 에러를 발생하지 않도록 합니다.
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      // jsx의 파싱을 허용한다.
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // 확장자 허용 (JSX not allowed in files with extension ".tsx")
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    // 정의되기 전에 사용되도록 허용 ("React" was used before it was defined)
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    // airbnb ESLint 구성의 문제를 해결하기 위함
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    //missing return type on function 오류 보이지 않기..?
    "@typescript-eslint/explicit-function-return-type": [
      "off",
      {
        "allowTypedFunctionExpressions": true
      }
    ],
    "import/no-unresolved": "off"
  },
  "settings": {
    "react": {
      // eslint-plugin-react에게 사용하고 있는 리액트의 버전을 알아서 탐지하도록 한다.
      "version": "detect"
    },
    // 해당 확장자 모듈 가져오도록 등록
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  }
}
